#title{
	text-align: center;
	font-size: 88px;
	font-family: cursive;
	color:#c6d6ef;
	background-color: #142c54;
	background-size: 100px;
}

#imageone{
	height: 300px;
	position: relative;
	text-align: center;
	border-radius: 80%;
	left: 275px;
}

#imagetwo{
	height: 100px;
	width: 975px;
	position: relative;
	text-align: center;
}

#imagethree{
	height:550px;
	position: relative;
	text-align: center;
	border-radius: 8px;
}

#linkone{
	text-align: center;
	width: 1000%;
	color: #133160;
}

#about{
	font-family: fantasy;
	color: #133160;
	font-size: 36px;
	text-align: center;
}

#intro{
	font-family: Arial;
	font-size: 15px;
	text-align: left;
	color: #03132d;
}

.topic{
	font-family: fantasy;
	font-size: 24px;
	text-align: center;
	color: #163466;
}

.text{
	text-align: center;
	color: #03132d;
}

#copyright{
	text-align: right;
	color: #03132d;
	font-family: Arial;
}



